body {
    font: 100% "vazir";
    background-color: rgb(255, 255, 255);
}
body {
    animation: load-body 5.08s 1 !important;
}
@keyframes load-body{
    0%{
        position: fixed;
        height: 100vh;
    }
    100% {
        position: fixed;
        height: 100vh;
    }
}
article{
    opacity: 1;
    animation: load-head 5.08s 1;
}
.background{
    opacity: 1;
    animation: load-head 5.08s 1;
}
.header3{
    opacity: 1;
    animation: load-head 5.08s 1;
}
footer{
    opacity: 1;
    animation: load-head 5.08s 1;
}
header {
    opacity: 1;
    z-index: 100;
    animation: load-head 5.08s 1;
}
@keyframes load-head {
    0%{
        opacity: 0;
    }
    99.96% {
        opacity: 0;
    }
    100% {
        opacity:1;
    }
}
.background-loader {
    width: 100%;
    background-color: rgb(248, 248, 248);
    z-index: 2;
    animation: load 5s linear 1;
}
@keyframes load {
    0%{
        height: 1000vh;
    }
    99.98% {
        height: 1000vh;
    }
    100% {
        height: 0;
    }
}
.loader {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 1rem;
    text-align: center;
}
.loader span {
    width: 1rem;
    height: 1rem ;
    background-color: #333;
    display: inline-block;
    border-radius: 50%;
    animation: animate 2s linear 2;
    opacity: 0;
}
.loader span:nth-child(3) {
    animation-delay: 0.8s;
    background-color: #7358bd;
}
.loader span:nth-child(2) {
    animation-delay: 0.4s;
}
.loader span:nth-child(1) {
    animation-delay: 0s;
    background-color: #7358bd;
}
@keyframes animate {
    0%{
        transform: translateX(-6.25rem);
        opacity: 0;
    }
    10%{
        transform: translateX(-6.25rem);
        opacity: 0;
    }
    25% {
        transform: translateX(0);
        opacity: 1;
    }
    50% {
        transform: translateX(0);
        opacity: 1;
    }
    75% {
        transform: translateX(0);
        opacity: 1;
    }
    90% {
        transform: translateX(6.25rem);
        opacity: 0;
    }
    100% {
        transform: translateX(6.25rem);
        opacity: 0;
    }
}
header {
    position: absolute;
    background:linear-gradient(to bottom,#8968e6 30%,#7358bd );
    height: 4.2rem;
    /* height: 6rem; */
    border-radius: 0 0 20px 20px;
    color: #E5F0FF;
    margin-bottom: 3rem;
}
.header3 {
    z-index: 2;
    width: 100%;
    height: 8.9vh;
    border-radius: 0 0 31px 31px;
    background-color: #9376c862;
}
.header2 {
    background-color: #9376c83a;
    width:100vw;
    margin: 0 0rem;
    /* height: 6.9rem; */
    height: 4.7rem;
    border-radius: 0 0 31px 31px;
}
.logo-header {
    display: flex;
    justify-content:flex-end;
    width: 100%;
}
.logo {
    display: flex;
    justify-self: center;
    width: 21vw;
    position: absolute;
    right: 10.6rem;
    padding-top: .2rem;
}
.bar-chart {
    padding-right: 1rem;
    padding-top: .6rem;
}
.head-logo-flex {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.background {
    margin-top: 2rem;
    margin: 2rem 1rem 3rem;
    padding: 0rem 0rem 2rem;
    background-color: #f5f5f5;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.178);
    border-radius: 20px;
    width: calc(100% - 2rem);
    height: 100%;
}
.form-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.first-label{
    padding: 1rem 0rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
}
.email-label {
    color: #333;
    margin-top: 1rem;
    padding-right: 1.7rem;
    font-family: "vazir";
    font-size: 1.2rem;
    font-weight: 300;
}
#email:focus {
    transform: scale(1.04 , 1);
    transition: all 200ms;
    border: 1px solid #9900ff;
}
#email::placeholder {
    font-size: .8rem;
    font-family: "kood";
}
#email {
    outline: none;
    border: none;
    border: 1px solid rgba(51, 51, 51, 0.116);
    border-radius: 10px ;
    margin: .6rem 1.5rem 1rem;
    width: calc(100% - 3rem);
    padding: 1rem 1rem;
}
.password-label {
    color: #333;
    margin-top: 1rem;
    padding-right: 1.7rem;
    font-family: "vazir";
    font-size: 1.2rem;
    font-weight: 300;
}
#password:focus {
    transform: scale(1.04 , 1);
    transition: all 200ms;
    border: 1px solid #9900ff;
}
#password::placeholder {
    font-size: .8rem;
    font-family: "kood";
}
#password {
    outline: none;
    border: none;
    border: 1px solid rgba(51, 51, 51, 0.116);
    border-radius: 10px ;
    margin: .6rem 1.5rem 1rem;
    width: calc(100% - 3rem);
    padding: 1rem 1rem;
}
.container1 {
    margin-right: 1.7rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
    display: block;
    position: relative;
    cursor: pointer;
    font-size:1.2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-right: 2.1rem;
    }

.container1 input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
 }
.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    background-color: rgb(172, 172, 172);
    border-radius:4px ;
 }
.container1:hover input ~ .checkmark {
    background-color: #ccc;
  }
.container1 input:checked ~ .checkmark {
    background-color: #2196F3;
  }
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
.container1 input:checked ~ .checkmark:after {
    display: block;
  }
.container1 .checkmark:after {
    left: .5rem;
    top: .3rem;
    width: .2rem;
    height: .5rem;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .chechmark-label {
    color: #333;
    font-weight: 200;
    font-size: .8rem;
  }

.buttom-flex{
    font-family: "vazir";
    font-size: 1.1rem;
    outline: none;
    border: none;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-right: 5rem;
    border-radius: 20px;
}
.login-buttom {
    color: rgb(241, 241, 241);
    border-radius: 20px;
    background-color: #8968e6;
    padding:  .9rem 4rem;
}
.login-buttom:hover {
    background-color: #423d52;
    transform: scale(1.03);
    transition: all 200ms;
}
.sign-up {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.sign-up-label {
    color: #333;
}
.line1 {
    border-bottom:1px solid rgba(51, 51, 51, 0.336);
    width: 26%;
    height: 1.6vh;
    background-color: rgba(51, 51, 51, 0);
    margin-left: .3rem;
}
.line2 {
    margin-right: .3rem;
    border-bottom:1px solid rgba(51, 51, 51, 0.336);
    width: 26%;
    height: 1.6vh;
    background-color: rgba(51, 51, 51, 0);
}
.sign-up-link-flex {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;
}
.lost-password-link {
    color: #624ca1;
}
.sign-up-link {
    color: #624ca1;
}
.sign-up-link:hover {
    color: rgb(255, 95, 95);
}
.line1-2 {
    border-bottom:1px solid rgba(51, 51, 51, 0.336);
    width: 14%;
    height: 1.6vh;
    background-color: rgba(51, 51, 51, 0);
    margin-left: .3rem;
}
.line2-2 {
    margin-right: .3rem;
    border-bottom:1px solid rgba(51, 51, 51, 0.336);
    width: 14%;
    height: 1.6vh;
    background-color: rgba(51, 51, 51, 0);
}
.lost-password {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}
.lost-password-link-flex {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;
}

.lost-password-link:hover {
    color: rgb(255, 95, 95);
}

.footer {
    position: relative;
    background:linear-gradient(to bottom,#8968e6 30%,#7358bd );
    height: 100%;
    border-radius:20px 20px 0 0 ;
    color: #ffffff;
    margin-top: 3.2rem;
}
.footer2 {
    position: absolute;
    top:-1rem;
    z-index: -1;
    width: 100%;
    background-color: #9376c83a;
    height: 25rem;
    border-radius: 43px;
}
.footer-head {
    padding: 1.5rem 1rem 1rem .5rem;
    font: 1.4rem "vazir";

}
.footer-container{
    padding: 0rem 1rem 1rem 1rem;
    text-align:justify;
}
.footer-list1{
    position: relative;
}
.email-box{
    font: 200 .8731rem "vazir";
    display: block;
    padding: .68rem 1rem .7rem 1.4rem;
    width: calc(100% - 9.5rem);
    border-radius: 10px;
    border: none;
    margin-right: 1.45rem;
    float: right;
}
.email-box::placeholder {
    font: 200 100% "vazir";
    color: rgba(48, 48, 48, 0.658);
}
.email-box:focus{
    outline: none;

}
.button {
    font:200 .8rem "vazir";
    position: absolute;
    left: 1.5rem;
    float: left;
    height:2.75rem;
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding: 0.7rem 1rem;
}
.footer-emailbox::after,
.footer-emailbox::before{
    content: "";
    display: table;
}
.footer-emailbox::after {
    clear: both;
}
.footer-list{
    padding:3rem 1rem 1rem 1rem;
}
.list-1{
    margin-bottom:.6rem ;
}
.footer-telegram1 {
    position: relative;
    right: 2.5rem;
    text-align: center;
    z-index: 1;
    padding: 1rem 0rem;
    border-radius: 10px;
    background-color: #f8f8f8;
    width: 80%;
}
.footer-telegram {
    text-align: center;
}
.footer-list1 {
    padding-bottom: 2rem;
}
.buttem {
    cursor: pointer;
}
.footer-icon{
    width: 38%;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.copy-right {
    color: #333;
    background-color: #dddddd;
    display: flex;
    justify-content: center;
    width: 100%;
}