body {
    font: 100% "vazir";
    background-color: #ffffff;
}
header {
    position: relative;
    background:linear-gradient(to bottom,#8968e6 30%,#7358bd );
    height: 4rem;
    /* height: 6rem; */
    border-radius: 0 0 20px 20px;
    color: #E5F0FF;
    margin-bottom: 3rem;
}
html {
    scroll-behavior: smooth;
}
.up {
    scroll-behavior: smooth;
    z-index: 2;
    position: fixed;
    top: 50rem;
}
#up{
    width: 40%;
}
.header3 {
    width: 100%;
    height: 8.5vh;
    border-radius: 0 0 31px 31px;
    background-color: #9376c862;
}
.logo-header {
    display: flex;
    justify-content:flex-end;
    width: 100%;
}
.logo {
    display: flex;
    justify-self: center;
    width: 21vw;
    position: absolute;
    right: 10.6rem;
    padding-top: .2rem;
}
.bar-chart {
    padding-right: 1rem;
    padding-top: .6rem;
}
.head-logo-flex {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}
#content {
    margin-top: 2rem;
    width: calc(66.66% - 2rem);
    width: calc(100% - 1rem);
    float: right;
    height: 100%;
    border-radius: 15px;
    text-align: center;
    margin-right: .5rem;
    margin-left: .5rem;
    padding-bottom: 1rem;
}

.article::after,
.article::before {
    content: "";
    display: table;
}
.article::after {
    clear: both;
    margin-bottom: 1rem;
}
.box {
    box-shadow:  0px 1px rgba(0, 0, 0, 0.082);
    border-radius: 15px;
    border: rgba(77, 77, 77, 0.199) solid 1px;
    text-align: center;
    background-color: #ffffffcb;
    height: 25vh;
    /* margin-left: 1rem;
    margin-top: 1rem;
    width: calc(33.33% - 2rem); */
    width:calc(100% - 3rem) ;
    margin: 1.2rem .5rem;
    float: left;
    height: 100%;
    font-size: 100%;
    font-weight: 200;
}
.box1 {
    position: relative;
    left: 1rem;
    margin-top: 1rem;
}
.js-photo {
    width: 100%;
    border-radius:15px 15px 0px 0px;
}
.js-text {
    float: right;
    margin-right:1rem ;
}
.boxx-1::after,
.boxx-1::before {
    content: "";
    display: table;
}
.boxx-1::after {
    clear: both;
}
.js-time{
    margin-top: .5rem;
}
.time-fill{
    width: 5%;
    margin-right: .8rem;
    float: right;
}
#js-time{
    font-size: .8rem;
    float: right;
}
.js-time::after,
.js-time::before {
    content: "";
    display: table;
}
.js-time::after {
    clear: both;
}
.film-number {
    margin-left:9rem;
    font-size: .8rem;
    float: left;
}
.film-icon{
    margin-left: .4rem;
    width: 4%;
    float: left;
}
.box-1-2 {
    padding: 1rem;
}
.teacher-js{
    padding: .5rem;
    float: right;
    font-size: .9rem;
    margin-right: .5rem;
}
.js-price{
    padding: .5rem;
    color: #00e993;
    float: left;
    font-size: .9rem;
    margin-left: .6rem;
}
.boxx-1-2::after,
.boxx-1-2::before {
    content: "";
    display: table;
}
.boxx-1-2::after {
    clear: both;
}
.footer {
    position: relative;

    background:linear-gradient(to bottom,#8968e6 30%,#7358bd );
    height: 100%;
    border-radius:20px 20px 0 0 ;
    color: #ffffff;
    margin-top: 3.2rem;
}
.footer2 {
    position: absolute;
    top:-1rem;
    z-index: -1;
    width: 100%;
    background-color: #9376c83a;
    height: 25rem;
    border-radius: 43px;
}
.footer-head {
    padding: 1.5rem 1rem 1rem .5rem;
    font: 1.4rem "vazir";

}
.footer-container{
    padding: 0rem 1rem 1rem 1rem;
    text-align:justify;
}
.footer-list1{
    position: relative;
}
.email-box{
    font: 200 .8731rem "vazir";
    display: block;
    padding: .68rem 1rem .7rem 1.4rem;
    width: calc(100% - 9.5rem);
    border-radius: 10px;
    border: none;
    margin-right: 1.45rem;
    float: right;
}
.email-box::placeholder {
    font: 200 100% "vazir";
    color: rgba(48, 48, 48, 0.658);
}
.email-box:focus{
    outline: none;

}
.button {
    font:200 .8rem "vazir";
    position: absolute;
    left: 1.5rem;
    float: left;
    height:2.75rem;
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding: 0.7rem 1rem;
}
.footer-emailbox::after,
.footer-emailbox::before{
    content: "";
    display: table;
}
.footer-emailbox::after {
    clear: both;
}
.footer-list{
    padding:3rem 1rem 1rem 1rem;
}
.list-1{
    margin-bottom:.6rem ;
}
.footer-telegram1 {
    position: relative;
    right: 2.5rem;
    text-align: center;
    z-index: 1;
    padding: 1rem 0rem;
    border-radius: 10px;
    background-color: #f8f8f8;
    width: 80%;
}
.footer-telegram {
    text-align: center;
}
.footer-list1 {
    padding-bottom: 2rem;
}
.button {
    cursor: pointer;
}
.footer-icon{
    width: 38%;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.copy-right {
    color: #333;
    background-color: #dddddd;
    display: flex;
    justify-content: center;
    width: 100%;
}
@media (min-width:780px) {
    
}
